# docker/docker-compose.prod.yml

volumes:
  pgadmin_data:
    name: ${COMPOSE_PROJECT_NAME:-my-awesome-app}_pgadmin_data

services:
  app:
    profiles: ["prod"]
    read_only: true
    # tmpfs:
      # - /tmp
    security_opt:
      - seccomp:default

  pgadmin:
    image: dpage/pgadmin4:latest
    profiles: ["prod"]
    restart: unless-stopped
    secrets:
      - pgadmin_password
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@example.com}
      PGADMIN_DEFAULT_PASSWORD_FILE: /run/secrets/pgadmin_password
    ports:
      - "${PGADMIN_PORT:-8080}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks: [internal]
    depends_on:
      db:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true
      - seccomp:default
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
