# Production environment with full stack

services:
  app:
    extends:
      file: docker-compose.base.yml
      service: app
    profiles: ["prod"]
    <<: *default-security
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - CHOWN
    ports: []

  db:
    extends:
      file: docker-compose.base.yml
      service: db
    profiles: ["prod"]
    <<: *default-security
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    ports: []

  pgadmin:
    extends:
      file: docker-compose.base.yml
      service: pgadmin
    profiles: ["prod"]
    ports:
      - "${PGADMIN_PORT:-8081}:80"
    <<: *default-security
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
